<!-- index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Exercise</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div id="exercise-card" class="card text-bg-dark">
        <div id="image-and-overlay" class="card-img-top">
            <img id="exercise-image" class="card-img-top" src="#" alt="Exercise Image">
            <div class="card-img-overlay" id="name-and-tags">
                <h3 class="card-title"><strong><span id="exercise-name"></span></strong></h3>
                <div id="badge-list">
                    <span class="badge  text-bg-danger" id="exercise-body-part"></span>
                    <span class="badge  text-bg-info" id="exercise-equipment"></span>
                    <span class="badge  text-bg-warning" id="exercise-target"></span>
                </div>
                <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#exercise-instructions-list" aria-expanded="false"
                    aria-controls="exercise-instructions-list" id="instruction-btn">
                    Instructions
                </button>
            </div>
        </div>
        <div class="collapse" id="exercise-instructions-list">
            <ul id="exercise-instructions"></ul>
        </div>
    </div>

    <script>
        // Função para capitalizar a primeira letra de cada palavra
        function capitalizeFirstLetterOfEachWord(string) {
            // Dividir a string em palavras usando espaço como delimitador
            const words = string.split(" ");

            // Capitalizar a primeira letra de cada palavra
            const capitalizedWords = words.map(word => word.charAt(0).toUpperCase() + word.slice(1));

            // Juntar as palavras novamente em uma string
            const capitalizedString = capitalizedWords.join(" ");

            return capitalizedString;
        }

        // Renderizar os dados recebidos da API
        var exerciseData = {{ data | tojson }};
        const randomExercise = Math.floor(Math.random() * data.length);
        const exercise = data[randomExercise];

        document.getElementById('exercise-image').src = exercise.gifUrl;
        document.getElementById('exercise-name').innerText = capitalizeFirstLetterOfEachWord(exercise.name);
        document.getElementById('exercise-body-part').innerText = capitalizeFirstLetterOfEachWord(exercise.bodyPart);
        document.getElementById('exercise-equipment').innerText = capitalizeFirstLetterOfEachWord(exercise.equipment);
        document.getElementById('exercise-target').innerText = capitalizeFirstLetterOfEachWord(exercise.target);

        const badgeSection = document.getElementById('badge-list');
        exercise.secondaryMuscles.forEach(muscle => {
            const badge = document.createElement('span');
            badge.classList.add('badge', 'bg-danger-subtle', 'text-danger-emphasis')
            badge.innerText = capitalizeFirstLetterOfEachWord(muscle);
            badgeSection.appendChild(badge);
        });

        const instructionsList = document.getElementById('exercise-instructions');
        exercise.instructions.forEach(instruction => {
            const instructionListItem = document.createElement('li');
            instructionListItem.innerText = instruction;
            instructionsList.appendChild(instructionListItem);
        });
    </script>
</body>

</html>
